<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

* Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. SciPy
5. TensorFlow

| Data Science Tools |
|---|
| Jupyter Notebooks |
| R Studio |
| Spyder |

<H3> Below are a few examples of evaluating arithmetic expressions in Python. </H3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers

Result = (3*4)+5

print(Result)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

convert = 200/60

print(convert)

3.3333333333333335

<H2>Author</H2>

Thiago Jorge